/* Tailwind and custom base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Full-page and container styling */
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background-color: #181c14; /* Very Dark Green */
}

#page {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "head head"
    "nav main"
    "nav foot";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
  overflow: hidden; /* Prevent grid container overflow */
}

/* Header, Navbar, Main, and Footer */
#page > header {
  grid-area: head;
  background-color: #3c3d37; /* Dark Grayish Green */
  color: #ecdfcc; /* Light Beige/Cream for text */
}

#page > nav {
  grid-area: nav;
  background-color: #697565; /* Muted Sage Green */
  color: #ecdfcc; /* Light Beige/Cream for text */
}

#page > main {
  grid-area: main;
  background-color: #181c14; /* Very Dark Green */
  color: #ecdfcc; /* Light Beige/Cream for text */
  overflow-y: auto;
  overflow-x: hidden;
}

#page > footer {
  grid-area: foot;
  background-color: #3c3d37; /* Dark Grayish Green */
  color: #ecdfcc; /* Light Beige/Cream for text */
}

/* Card and text color styling */
.hotel-card-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.card {
  background-color: #3c3d37; /* Dark Grayish Green */
  color: #ecdfcc; /* Light Beige/Cream */
}

.card h2 {
  color: #ecdfcc; /* Light Beige/Cream for headers */
}

/* Custom Button Styles */
.btn-primary {
  background-color: #697565; /* Muted Sage Green */
  color: #ecdfcc; /* Light Beige/Cream */
}

.btn-primary:hover {
  background-color: #3c3d37; /* Dark Grayish Green */
}
