<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <select class="select select-secondary w-full max-w-xs">
        <option disabled selected>Pick number of rooms</option>
        <option>Java</option>
        <option>Go</option>
        <option>C</option>
        <option>C#</option>
        <option>C++</option>
        <option>Rust</option>
        <option>JavaScript</option>
        <option>Python</option>
      </select>
      <div class="join grid grid-cols-2">
        <button class="join-item btn btn-outline">Previous page</button>
        <button class="join-item btn btn-outline">Next</button>
      </div>
    </div>
  </body>
</html>
